#head{
 border: 1px solid rgb(158, 237, 247);
 background-color: rgb(158, 237, 237);
 top:0%;
 position: absolute;
 width: 1000px;
}
#content1{
 background-color: rgb(249, 233, 170);
 top: 0%;
 left: 400px;
 position: absolute;
 width:1000px;
}
#content{
 background-color: rgb(250, 208, 238);
 left: 50px;
 position: relative;
 top:13.125px;
 width: 1000px;
 height: 200px;
}
#content2{
 background-color: rgb(158, 237, 237);
 position: relative;
 width:750px;
 left: 200px;mm
 top: 15%;
 height: 50px;
}
#content3{
 background-color: rgb(158, 237, 237);
 position: relative;
 width:750px;
 left: 100px;
 top: 30%;
 height: auto;
}
#foot{
 background-color: rgb(158, 237, 237);
 position: relative;
 width: 1000px;
 top:0%;
 
}
